In [1]:
from rpy2_wrapper import R
#Create R instance
R_inst = R()
#Import csv file and transform it to both Pandas and R dataframes
R_inst.import_csv("sample_data.csv")

succeed

In [2]:
#Pandas dataframe
print(type(R_inst.p_df))
R_inst.p_df

<class 'pandas.core.frame.DataFrame'>

   category  data 1  data 2  data3  data 4  data 5
0         A       0       3      5       8      12
1         A       1       4      6      10      14
2         A       2       6      7      11      15
3         A       0       2      4       8      13
4         B       2       3      4       4       5
5         B       0       1      2       2       3
6         B       1       2      2       3       4
7         B       1       1      2       3       5
8         B       2       2      3       4       5
9         C       2       3      4       5       6
10        C       2       4      5       6       7
11        C       1       2      4       5       6
12        C       0       3      3       4       5

In [3]:
#R dataframe
print(type(R_inst.r_df))
R_inst.r_df

<class 'rpy2.robjects.vectors.DataFrame'>

R object with classes: ('data.frame',) mapped to:
<DataFrame - Python:0x10b27f308 / R:0x7fdcc733d7c8>
[StrVe..., IntVe..., IntVe..., IntVe..., IntVe..., IntVe...]
  category: <class 'rpy2.robjects.vectors.StrVector'>
  R object with classes: ('character',) mapped to:
<StrVector - Python:0x111624188 / R:0x7fdcc71cf7a8>
['A', 'A', 'A', 'A', ..., 'C', 'C', 'C', 'C']
  data.1: <class 'rpy2.robjects.vectors.IntVector'>
  R object with classes: ('integer',) mapped to:
<IntVector - Python:0x111624c88 / R:0x7fdcc7329e28>
[0, 1, 2, 0, ..., 2, 2, 1, 0]
  data.2: <class 'rpy2.robjects.vectors.IntVector'>
  R object with classes: ('integer',) mapped to:
<IntVector - Python:0x111624288 / R:0x7fdcc7329aa8>
[3, 4, 6, 2, ..., 3, 4, 2, 3]
  data3: <class 'rpy2.robjects.vectors.IntVector'>
  R object with classes: ('integer',) mapped to:
<IntVector - Python:0x111624108 / R:0x7fdcc7329728>
[5, 6, 7, 4, ..., 4, 5, 4, 3]
  data.4: <class 'rpy2.robjects.vectors.IntVector'>
  R object with classes: ('integer',) mapped to:
<IntVector - Python:0x111624dc8 / R:0x7fdcc73293a8>
[8, 10, 11, 8, ..., 5, 6, 5, 4]
  data.5: <class 'rpy2.robjects.vectors.IntVector'>
  R object with classes: ('integer',) mapped to:
<IntVector - Python:0x111630a48 / R:0x7fdcc7329028>
[12, 14, 15, 13, ..., 6, 7, 6, 5]

In [4]:
#Perform ANOVA
R_inst.aov(data_column="data.5",label_column="category")

Analysis of Variance Table

Response: data.5
           Df Sum Sq Mean Sq F value    Pr(>F)
label_data  2 200.57  100.28  98.318 2.654e-07 ***
Residuals  10  10.20    1.02
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

In [5]:
#Perform TukeyHSD
R_inst.tukeyHSD(data_column="data.5",label_column="category")

Analysis of Variance Table

Response: data.5
           Df Sum Sq Mean Sq F value    Pr(>F)
label_data  2 200.57  100.28  98.318 2.654e-07 ***
Residuals  10  10.20    1.02
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

    diff         lwr       upr        p adj
B-A -9.1 -10.9572148 -7.242785 2.749890e-07
C-A -7.5  -9.4576763 -5.542324 2.757636e-06
C-B  1.6  -0.2572148  3.457215 9.246719e-02

In [6]:
R_inst.close()